<launch>
  <arg name="test" default="false" />
  <arg name="user_animations_file" default="" />

  <node pkg="panther_lights" type="driver_node.py" name="lights_driver_node"
    required="true" output="screen" />

  <node pkg="panther_lights" type="controller_node.py" name="lights_controller_node"
    required="true" output="screen">
    <rosparam command="load" file="$(find panther_lights)/config/panther_lights_animations.yaml" />
    <rosparam command="load" file="$(arg user_animations_file)"
      unless="$(eval user_animations_file == '')" />
    <param name="test" value="$(arg test)" />
  </node>

</launch>