<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- body defining macro -->
  <xacro:macro
    name="body"
    params="namespace wheel_radius
            imu_pos_x imu_pos_y imu_pos_z
            imu_rot_r imu_rot_p imu_rot_y">

    <xacro:if value="${namespace == ''}">
      <xacro:property name="ns" value="" />
    </xacro:if>
    <xacro:unless value="${namespace == ''}">
        <xacro:property name="ns" value="${namespace}/" />
    </xacro:unless>

    <link name="${ns}base_link" />

    <joint name="base_to_body_joint" type="fixed">
      <origin xyz="0.0 0.0 ${wheel_radius}" rpy="0.0 0.0 0.0" />
      <parent link="${ns}base_link" />
      <child link="${ns}body_link" />
    </joint>

    <link name="${ns}body_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://panther_description/meshes/body.dae" />
        </geometry>
      </visual>

      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://panther_description/meshes/body_collision.stl" />
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <mass value="43.0" />
        <inertia ixx="2.630036" ixy="-0.023480" ixz="0.052320"
                                iyy="2.463509"  iyz="0.009337"
                                                izz="4.611945" />
      </inertial>
    </link>

    <joint name="body_to_imu_joint" type="fixed">
      <origin xyz="${imu_pos_x} ${imu_pos_y} ${imu_pos_z}"
        rpy="${imu_rot_r} ${imu_rot_p} ${imu_rot_y}" />
      <parent link="${ns}body_link" />
      <child link="${ns}imu_link" />
    </joint>

    <link name="${ns}imu_link" />

    <joint name="body_to_front_bumper_joint" type="fixed">
      <origin xyz="0.362 0.0 0.0" rpy="0.0 0.0 0.0" />
      <parent link="${ns}body_link" />
      <child link="${ns}front_bumper_link" />
    </joint>

    <link name="${ns}front_bumper_link" />

    <joint name="front_bumper_to_front_light_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0185" rpy="${pi/2} 0.0 ${pi/2}" />
      <parent link="${ns}front_bumper_link" />
      <child link="${ns}front_light_link" />
    </joint>

    <link name="${ns}front_light_link" />

    <joint name="body_to_rear_bumper_joint" type="fixed">
      <origin xyz="-0.362 0.0 0.0" rpy="0.0 0.0 ${pi}" />
      <parent link="${ns}body_link" />
      <child link="${ns}rear_bumper_link" />
    </joint>

    <link name="${ns}rear_bumper_link" />

    <joint name="rear_bumper_to_rear_light_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0185" rpy="${pi/2} 0.0 ${pi/2}" />
      <parent link="${ns}rear_bumper_link" />
      <child link="${ns}rear_light_link" />
    </joint>

    <link name="${ns}rear_light_link" />

    <joint name="body_to_cover_joint" type="fixed">
      <origin xyz="0.0 0.0 0.1715" rpy="0.0 0.0 0.0" />
      <parent link="${ns}body_link" />
      <child link="${ns}cover_link" />
    </joint>

    <link name="${ns}cover_link" />

  </xacro:macro>
</robot>
