<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Battery -->
  <xacro:macro name="battery" params="config_file namespace:=''">

    <!-- Read property -->
    <xacro:property name="battery_config" value="${xacro.load_yaml(config_file)}" />
    <xacro:property name="bat_initial_charge"
      value="${20.0*battery_config['initial_charge_percentage']/100.0}" />
    <xacro:property name="bat_charging_time" value="${battery_config['charging_time']}" />

    <xacro:if value="${battery_config['simulate_discharging']}">
      <xacro:property name="bat_power_load" value="${battery_config['power_load']}" />
    </xacro:if>
    <xacro:unless value="${battery_config['simulate_discharging']}">
      <xacro:property name="bat_power_load" value="0.0" />
    </xacro:unless>

    <!-- Sim Battery -->
    <gazebo>
      <plugin filename="ignition-gazebo-linearbatteryplugin-system"
        name="gz::sim::systems::LinearBatteryPlugin">
        <battery_name>panther_battery</battery_name>
        <voltage>41.4</voltage>
        <open_circuit_voltage_constant_coef>42.0</open_circuit_voltage_constant_coef>
        <open_circuit_voltage_linear_coef>-10.0</open_circuit_voltage_linear_coef>
        <initial_charge>${bat_initial_charge}</initial_charge>
        <capacity>20.0</capacity>
        <resistance>0.15</resistance>
        <smooth_current_tau>2.0</smooth_current_tau>
        <enable_recharge>true</enable_recharge>
        <charging_time>${bat_charging_time}</charging_time>
        <soc_threshold>2.0</soc_threshold>
        <power_load>${bat_power_load}</power_load>
        <start_on_motion>false</start_on_motion>

        <!-- https://github.com/gazebosim/gz-sim/issues/225 -->
        <fix_issue_225>true</fix_issue_225>

        <ros>
          <namespace>${namespace}</namespace>
        </ros>
      </plugin>
    </gazebo>
  </xacro:macro>

  <!-- Controller -->
  <xacro:macro name="controller" params="config_file namespace:=''">
    <gazebo>
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>${config_file}</parameters>
        <ros>
          <namespace>${namespace}</namespace>
          <remapping>imu_broadcaster/imu:=imu/data</remapping>
          <remapping>panther_base_controller/cmd_vel_unstamped:=cmd_vel</remapping>
          <remapping>panther_base_controller/odom:=odom/wheels</remapping>
        </ros>
      </plugin>
    </gazebo>
  </xacro:macro>

  <!-- Gauss noise macro -->
  <xacro:macro name="gauss_noise"
    params="mean:=0.0 stddev:=0.0 bias_mean:=0.0 bias_stddev:=0.0 precision:=0.0">
    <noise type="gaussian">
      <mean>${mean}</mean>
      <stddev>${stddev}</stddev>
      <bias_mean>${bias_mean}</bias_mean>
      <bias_stddev>${bias_stddev}</bias_stddev>
      <precision>${precision}</precision>
    </noise>
  </xacro:macro>

  <!-- IMU specification: https://www.phidgets.com/?tier=3&catid=10&pcid=8&prodid=1025#Tab_Specifications -->
  <xacro:macro name="imu" params="reference_frame namespace:=''">

    <xacro:if value="${namespace == ''}">
      <xacro:property name="ns" value="" />
    </xacro:if>
    <xacro:unless value="${namespace == ''}">
        <xacro:property name="ns" value="${namespace}/" />
    </xacro:unless>

    <gazebo reference="${reference_frame}">
      <sensor name="${ns}imu" type="imu">
        <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu" />
        <always_on>true</always_on>
        <update_rate>50</update_rate>
        <topic>${ns}imu/data_raw</topic>
        <visualize>false</visualize>
        <enable_metrics>false</enable_metrics>
        <frame_id>imu_link</frame_id>
        <ignition_frame_id>imu_link</ignition_frame_id>
        <imu>
          <angular_velocity>
            <!-- rad/s -->
            <x>
              <xacro:gauss_noise stddev="0.01" bias_mean="3.3e-5" precision="1.2e-3" />
            </x>
            <y>
              <xacro:gauss_noise stddev="0.01" bias_mean="3.3e-5" precision="1.2e-3" />
            </y>
            <z>
              <xacro:gauss_noise stddev="0.01" bias_mean="3.3e-5" precision="1.2e-3" />
            </z>
          </angular_velocity>
          <linear_acceleration>
            <!-- m/s^2 -->
            <x>
              <xacro:gauss_noise stddev="27.5e-3" bias_mean="18.6e-3" precision="9.6e-3" />
            </x>
            <y>
              <xacro:gauss_noise stddev="27.5e-3" bias_mean="18.6e-3" precision="9.6e-3" />
            </y>
            <z>
              <xacro:gauss_noise stddev="27.5e-3" bias_mean="18.6e-3" precision="9.6e-3" />
            </z>
          </linear_acceleration>
        </imu>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
