<!-- Phidgets Spatial launch file -->

<launch>
  <arg name="imu_config_file" default="$(find panther_bringup)/config/imu_config.yaml" />

  <!-- Load IMU parameters -->
  <rosparam command="load" file="$(arg imu_config_file)" />

  <!-- Spatial Driver -->
  <node pkg="nodelet" type="nodelet" name="phidgets_spatial_node" output="screen"
    args="standalone phidgets_spatial/PhidgetsSpatialNodelet" />

  <!-- IMU Orientation Filter -->
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node" output="screen" />

</launch>
