<!-- Phidgets Spatial launch file -->

<launch>
  <arg name="imu_config_file" default="$(find panther_bringup)/config/imu_config.yaml" />

  <!-- Load IMU parameters -->
  <rosparam command="load" file="$(arg imu_config_file)" />

  <!-- Nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="imu_manager" output="screen" args="manager" launch-prefix="bash -c 'sleep 15; $0 $@' " />

  <!-- Spatial Driver -->
  <node pkg="nodelet" type="nodelet" name="PhidgetsSpatialNodelet" output="screen"
    args="load phidgets_spatial/PhidgetsSpatialNodelet imu_manager" />

  <!-- IMU Orientation Filter -->
  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" output="screen"
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager" />

</launch>
