<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro
    name="external_antenna"
    params="parent_link xyz rpy
            tf_prefix:=None
            frame_id:=gps
            simulation_engine:=ignition-gazebo">

    <xacro:if value="${tf_prefix == 'None'}">
      <xacro:property name="tf_prefix_ext" value="" />
    </xacro:if>
    <xacro:unless value="${tf_prefix == 'None'}">
      <xacro:property name="tf_prefix_ext" value="${tf_prefix}_" />
    </xacro:unless>

    <joint name="${parent_link.rstrip('_link')}_to_${tf_prefix_ext}external_antenna_joint"
      type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent_link}" />
      <child link="${tf_prefix_ext}external_antenna_link" />
    </joint>

    <link name="${tf_prefix_ext}external_antenna_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://panther_description/meshes/components/external_antenna.dae" />
        </geometry>
      </visual>

      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh
            filename="package://panther_description/meshes/components/external_antenna_collision.stl" />
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0.045 0.0 0.0058" rpy="0.0 0.0 0.0" />
        <mass value="0.59" />
        <inertia ixx="0.003964" ixy="0.0000000" ixz="0.0"
                                iyy="0.0003964" iyz="0.0"
                                                izz="0.0004177" />
      </inertial>
    </link>

    <joint
      name="${tf_prefix_ext}external_antenna_to_${tf_prefix_ext}${frame_id.rstrip('_link')}_joint"
      type="fixed">
      <origin xyz="0.045 0.0 0.0058" rpy="0.0 0.0 0.0" />
      <parent link="${tf_prefix_ext}external_antenna_link" />
      <child link="${tf_prefix_ext}${frame_id}" />
    </joint>

    <link name="${tf_prefix_ext}${frame_id}" />

    <xacro:if value="${simulation_engine == 'ignition-gazebo'}">
      <gazebo reference="${tf_prefix_ext}${frame_id}">
        <sensor name="navsat" type="navsat">
          <plugin filename="ignition-gazebo-navsat-system" name="ignition::gazebo::systems::NavSat" />
          <always_on>1</always_on>
          <update_rate>5</update_rate>
        </sensor>
      </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>
