wheel_radius: 0.1016
wheel_separation: 0.616
mass: 0.85
inertia: { ixx: 0.003099, iyy: 0.005849, izz: 0.003101 }
inertia_y_offset: 0.0
mesh_package: panther_description
folder_path: meshes/WH04
kinematics: differential

# Selected intuitively based on WH01 results
odom_stderr: { vel_x: 1.6e-3, vel_y: 7.3e-4, vel_yaw: 4.3e-3 }
