<launch>
  <arg name="use_ros_control" />
  <arg name="wheel_type" />
  <arg name="use_gpu" />
  <arg name="publish_robot_state" />
  <arg name="pos_x" />
  <arg name="pos_y" />
  <arg name="pos_z" />
  <arg name="rot_yaw" />
  <arg name="robot_description"
    default="$(find xacro)/xacro $(find panther_description)/urdf/panther.urdf.xacro
              use_gpu:=$(arg use_gpu)
              wheel_config_path:=$(find panther_description)/config/$(arg wheel_type).yaml
              simulation_engine:=gazebo-classic
              use_ros_control:=$(arg use_ros_control)" />

  <node pkg="gazebo_ros" type="spawn_model" name="panther_spawn" output="screen"
    args="-urdf -param robot_description -model panther -x $(arg pos_x) -y $(arg pos_y) -z $(arg pos_z) -Y $(arg rot_yaw)" />

  <group if="$(arg use_ros_control)">
    <rosparam command="load" file="$(find panther_gazebo)/config/panther_ros_controler.yaml" />
    <node pkg="controller_manager" type="spawner" name="panther_controller_spawner" output="screen"
      args="joint_state_controller panther_base_controller" />
  </group>

  <group unless="$(arg use_ros_control)">
    <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" />
    <node pkg="controller_manager" type="spawner" name="panther_controller_spawner" output="screen"
      args="joint_state_controller" />
  </group>

  <include if="$(arg publish_robot_state)" file="$(find panther_description)/launch/panther_state_publisher.launch">
    <arg name="robot_description" value="$(arg robot_description)" />
  </include>

</launch>